.navbar-light .navbar-nav .nav-link{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
    text-decoration: underline;
}
.navbar-brand{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}