<div class="container mt-5 mb-5">
    <h1 class="text-center">Contact</h1>
    <form class="col-lg-8">
        <div class="cl-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter Firts Name">
        </div>
        <div class="cl-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter Last Name">
        </div>
        <div class="cl-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter Email ID">
        </div>
        <div class="cl-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter Mobile">
        </div>
        <div class="cl-lg-12 mt-2 mb-2">
            <button class="btn btn-md btn-dark">Submit</button>
        </div>
    </form>


</div>