<div class="row">
    <h1 class="text-center">About</h1>
    <div class="col-lg-4">
        <div class="foodbox">
            <i class="bi bi-activity"></i>
            <h4><u>Bring order to your online <br> orders</u></h4>
            <p>Connect all your delivery services into one tablet, and seamlessly manage all your orders through a single workflow. No need to enter orders manually into a POS or juggle multiple tablets.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="foodbox">
            <i class="bi bi-alt"></i>
            <h4><u>Easily manage your restaurant business</u></h4>
            <p>Get a 360-degree view of your restaurant business with valuable insights that help you understand your sales, order volume, earnings, locations, and brands, all in a single dashboard.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="foodbox">
            <i class="bi bi-alarm"></i>
            <h4><u>Connect all your delivery platforms</u></h4>
            <p>Connect to all the major delivery services available in your area through a single tablet. Add additional platforms easily without the need to manage multiple workflows.</p>
        </div>
    </div>
</div>