<div class="row">
    <h1 class="text-center">About</h1>
    <div class="col-lg-4">
        <div class="foodbox">
            <h1>01</h1>
            <h4>Bring order to your online orders</h4>
            <p>Connect all your delivery services into one tablet, and seamlessly manage all your orders through a single workflow. No need to enter orders manually into a POS or juggle multiple tablets.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="foodbox">
            <h1>02</h1>
            <h4>Easily manage your restaurant business</h4>
            <p>Get a 360-degree view of your restaurant business with valuable insights that help you understand your sales, order volume, earnings, locations, and brands, all in a single dashboard.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="foodbox">
            <h1>03</h1>
            <h4>Connect all your delivery platforms</h4>
            <p>Connect to all the major delivery services available in your area through a single tablet. Add additional platforms easily without the need to manage multiple workflows.</p>
        </div>
    </div>
</div>